@import "tailwindcss";




ul{
  font-family: "Epilogue", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 17px;
  color: #2D2D2D;


}

.main {
  margin-bottom: 24px; /* Her yorumcuyu ayırır */
  margin-right: 24px;

}



.coms{
  background-color: #F3F3F3;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}

*{
  color: #2D2D2D;
  font-family: "Epilogue";
}

.bttn{
  color: white;
  font-size: 20px;
  font-weight: 600;
}

.firm{
  font-weight: 400;
}

.latestw{
  font-size: 32px;
  line-height: 42px;
  font-weight: 600;
}

.title{


  font-size: 27px;
  
}


.titles{
  font-size: 69px;
}

#root {
  width: 100%;
  padding: 0;
  margin: 0;
}


.projectitle{
  size: 32px;
  font-size: 24px;
}

.desc{
  font-size: 17px;
  font-weight: 400;
}



@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
